div.new-invoice(ng-hide='invoice')
  h3 Create an invoice
  div.container.well
    div.row
      div.col-xs-3
        label(for='total') Total(USD)
      div.col-sm-3
        input(type='text',id='total',name='total',data-ng-model='newInvoice.total',decimal-input)
      div.col-xs-3
        label(for='expires_at') Expy
      div.col-sm-3
        input(type='date',id='expires_at',name='expires_at',data-ng-model='newInvoice.expires_at')
    div.row
      div.col-sm-12
        span &nbsp;
    div.row
      div.col-sm-12
        input(type='button',value='Create Invoice',ng-click='createInvoice()')

div.invoice-info(ng-show='invoice')
  h3 Invoice ({{ invoice.getStatus() }})
  div.row
    div.col-xs-2
      strong Date
    div.col-sm-2
      span {{ invoice.created_utc | date }} 
    div.col-xs-2
      strong Total
    div.col-sm-2
      span {{ invoice.total | currency }} ({{ (getSatoshis(invoice.total) | number) || 0 }} Satoshis)
    div.col-xs-2
      strong Balance
    div.col-sm-2
      span {{ invoice.getBalance() | currency }} ({{ (getSatoshis(invoice.getBalance()) | number) || 0 }} Satoshis)      
  div.row
    div.col-xs-2
      strong Address
    div.col-sm-5
      span {{ invoice.current_address }}
    div.col-xs-4
      img(ng-show='invoice.current_address',ng-src='/api/qr/{{invoice.current_address}}',width='64px')
  div.row
    div.col-xs-12
      input(type='button',value='Trash Invoice',ng-click='trashInvoice()')
div.make-payment(ng-show='validInvoice()')
  h3 Make a payment
  div.container.well
    div.row
      div.col-xs-3
        label(for='amount') Amount
      div.col-sm-3
        input(type='text',id='amount',name='amount',data-ng-model='newPayment.amount',decimal-input)
      div.col-sm-6
    div.row
      div.col-xs-3
      div.col-sm-3
        span {{ ' ' }}({{ (getSatoshis(newPayment.amount) | number) || 0 }} Satoshis)
    div.row
      div.col-xs-3
        label(for='tx_hash') TxHash
      div.col-sm-9
        input(type='text',id='tx_hash',name='tx_hash',data-ng-model='newPayment.tx_hash',style='width:500px')
    div.row
      div.col-sm-12
        p &nbsp;
    div.row
      div.col-sm-12
        input(type='submit',value='Pay Now',ng-click='submitPayment()')
        span {{' '}} 1 BitCoin = ${{ 1 / (getSatoshis(1) / 100000000) || '...' | number:2 }} USD
div.payment-history(ng-show='invoice')
  h3 Payment History
  div.container
    div.row
      div.col-xs-3
        label Date
      div.col-xs-3
        label Address
      div.col-xs-3
        label Amount
      div.col-xs-3
        label Balance
  div.container(ng-repeat='payment in invoice.payments')
    div.row
      div.col-xs-3
        {{ payment.timestamp | date }}
      div.col-xs-3
        img(ng-show='invoice.current_address',ng-src='/api/qr/{{payment.address_used}}',width='64px')
      div.col-xs-3
        {{ payment.amount | currency }}
      div.col-xs-3
        {{ getRunningBalance($index) | currency }}